.snackbar-success {
  --mdc-snackbar-container-color: #2e7d32;
  --mat-mdc-snack-bar-button-color: white;

  color: white;
}

.snackbar-error {
  --mdc-snackbar-container-color: #c62828;
  --mat-mdc-snack-bar-button-color: white;

  color: white;
}

.snackbar-info {
  --mdc-snackbar-container-color: #1565c0;
  --mat-mdc-snack-bar-button-color: white;

  color: white;
}
